<h1>hello welcome</h1>
<!-- <app-data-bindling></app-data-bindling> -->

<!-- <app-binding></app-binding> -->

<!-- <app-institute></app-institute> -->
<!-- <app-directives></app-directives> -->

<!-- <app-array-binding></app-array-binding> -->
<!-- <app-table-format></app-table-format> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="binding">binding</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="institute">Institude</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="array-binding">array-binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="data-binding">Data-binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="template-form">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reactive-form">reactive_Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="observables">observables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="table-format">tablePipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="statement">Statement</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>